spring:
  application:
    name: apigateway
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: "http://localhost:8091/realms/ticketing-security-realm"

server:
  port: 8090

keycloak:
  auth:
    jwk-set-uri: "http://localhost:8091/realms/ticketing-security-realm/protocol/openid-connect/certs"


inventoryBaseUrl: "http://localhost:8080/api/v1/inventory"

management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 8
        failureRateThreshold: 50
        minimum-number-of-calls: 4
        waitDurationInOpenState: 5s
        permittedNumberOfCallsInHalfOpenState: 2
        automaticTransitionFromOpenToHalfOpenEnabled: true
  timelimiter:
    configs:
      default:
        timeout-duration: 3s
  retry:
    configs:
      default:
        max-attempts: 3
        wait-duration: 2s

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: Inventory Service
        url: /docs/inventoryservice/v3/api-docs
      - name: Booking Service
        url: /docs/bookingservice/v3/api-docs
  api-docs:
    path: /v3/api-docs

security:
  excluded:
    urls: "/swagger-ui.html, /swagger-ui/**, /docs/**, /v3/api-docs/**, /swagger-resources/**, /api-docs/**"
